body {
  font-family: 'Roboto Condensed', sans-serif;
  color: $color-primary;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}