@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #354253;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  margin: 0 0 10px 0;
  font-size: 15px;
  background-color: #eef1f4;
  text-transform: uppercase;
  box-sizing: border-box;
  z-index: 50;
}
.button__text {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #354253;
}
.button__icon {
  align-items: center;
  height: 15px;
  width: 15px;
}
.button--primary {
  font-size: 20px;
  padding: 4px;
  background-color: #E2001A;
}
.button--primary .button__text {
  border: solid 2px #FFFFFF;
  padding: 8px 25px;
  margin: 0;
  color: #FFFFFF;
}
.button--block {
  display: block;
}
.button--shadowed {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
}
.button--small {
  padding: 4px 12px;
}
.button--little {
  display: inline;
  padding: 13px 3px;
  font-size: 12px;
}
.button--little .button__icon {
  height: 11px;
  width: 11px;
}
.button--width {
  width: 40px;
}
.button--rounded {
  border-radius: 15px;
}
.button--link {
  background: none;
  font-size: 14px;
  color: #354253;
  text-decoration: underline;
  text-transform: none;
  text-align: center;
  padding: 0;
}
.button a:hover {
  text-decoration: none;
}

.mobile-title {
  padding: 0;
  color: #FFFFFF;
  text-transform: uppercase;
}
.mobile-title__append-title {
  font-size: 14px;
  margin: 0 0 -10px 17px;
}
.mobile-title__title {
  margin: 0 0 0 15px;
  font-weight: bold;
  font-size: 60px;
  font-weight: bold;
}
.mobile-title__title--rich .rich-title {
  display: flex;
  align-items: center;
  margin: 0 0 -20px -17px;
}
.mobile-title__title--rich .rich-title__text {
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: normal;
}
.mobile-title__title--rich .rich-title__icon {
  height: 45px;
}
.mobile-title__prepend-title {
  font-size: 20px;
  margin: -5px 0 15px 17px;
}

.section-title {
  margin: 15px 0;
  padding: 0;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
.section-title__accent {
  color: #E2001A;
}
.section-title:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  border-radius: 10px;
  background-color: #e5e9ee;
  margin: 10px 15%;
}
@media (max-width: 640px) {
  .section-title {
    font-size: 30px;
    line-height: 35px;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 17px;
  background-color: #E2001A;
  color: #FFFFFF;
  padding: 5px 20px;
}
.banner__icon {
  min-width: 17px;
}
.banner__title {
  text-transform: uppercase;
  margin: 0 10px;
  font-weight: bold;
}
.banner__content {
  font-size: 14px;
  line-height: 15px;
  margin-left: 15px;
  font-weight: 200;
}

@media (min-width: 640px) {
  .banner__content {
    font-size: 17px;
    margin-left: 0;
  }
}
.navigation {
  z-index: 10;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: 5px 0 0;
  padding: 15px 15px 0;
}
.navigation__logo {
  width: 210px;
  height: 55px;
  background-image: url("../../asset/img/logo_light.svg");
  background-repeat: no-repeat;
}
.navigation__container .mobile-title {
  display: none;
}
.navigation__container__menu {
  display: flex;
  margin: 0 10px 0 0;
}
.navigation__container__menu .item-with-icon:before {
  position: absolute;
  content: url("../../asset/img/icon_cross.svg");
  margin: -15px 25px 0;
}
.navigation__container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__container ul li {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 10px;
}
.navigation__container ul li:after {
  content: "";
  position: absolute;
  margin: 5px 10px;
  background: #E2001A;
  height: 10px;
  width: 1px;
}
.navigation__container ul li:last-child {
  border: none;
}
.navigation__container ul li:last-child:after {
  display: none;
}
.navigation__container ul li a {
  color: #FFFFFF;
}
.navigation__container ul li a:hover {
  text-decoration: none;
}
.navigation__toggler {
  display: none;
  border: none;
  background: none;
  padding: 0;
  margin: 1px 10px 0;
  width: 20px;
  height: 17px;
  justify-content: space-between;
  flex-direction: column;
}
.navigation__toggler__bar {
  background-color: #FFFFFF;
  height: 2px;
  width: 100%;
}

@media (max-width: 640px) {
  .navigation {
    justify-content: start;
  }
  .navigation__logo {
    width: 50px;
    height: 60px;
  }
  .navigation__container {
    display: none;
  }
  .navigation__container .mobile-title {
    display: block;
  }
  .navigation__container__menu {
    flex-direction: column;
  }
  .navigation__container__menu .item-with-icon:before {
    display: none;
  }
  .navigation__toggler {
    display: flex;
  }
  .navigation--collapsed {
    background-color: #354253;
    margin-top: -60px;
    width: 100%;
    height: 100vh;
  }
  .navigation--collapsed .navigation__container {
    position: absolute;
    margin: 75px 30px 0;
  }
  .navigation--collapsed .navigation__container ul {
    flex-direction: column;
    margin: 0 20px 0;
  }
  .navigation--collapsed .navigation__container ul li {
    font-size: 31px;
    margin: 10px 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #E2001A;
  }
  .navigation--collapsed .navigation__container ul li:after {
    display: none;
  }
  .navigation--collapsed .navigation__container ul li:last-child {
    border: none;
  }
  .navigation--collapsed .navigation__toggler {
    position: absolute;
    justify-content: center;
    right: 15px;
    top: 20px;
  }
  .navigation--collapsed .navigation__toggler__bar {
    position: absolute;
    border-radius: 10px;
    background-color: #999999;
  }
  .navigation--collapsed .navigation__toggler__bar.toggler--top {
    transform: rotate(45deg);
  }
  .navigation--collapsed .navigation__toggler__bar.toggler--middle {
    display: none;
  }
  .navigation--collapsed .navigation__toggler__bar.toggler--bottom {
    transform: rotate(-45deg);
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}
.menu .menu-item {
  cursor: pointer;
  z-index: 100;
  width: 60px;
  padding: 0;
  margin: 0 10px;
  font-size: 40px;
  text-align: center;
  color: #d6dce5;
}
@media (min-width: 640px) {
  .menu .menu-item {
    margin: 0 30px;
  }
}
.menu .menu-item.active {
  color: #354253;
}
.menu .menu-item.active:before {
  content: "";
  display: flex;
  position: absolute;
  border-radius: 10px;
  margin: 60px 0 0;
  width: 60px;
  height: 4px;
  background: #354253;
}
.menu .menu-item.active:after {
  content: "";
  display: flex;
  position: absolute;
  margin: 4px 20px 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #354253 transparent transparent transparent;
}
.menu .menu-item.menu-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  width: 125px;
}
.menu .menu-item.menu-icon:before {
  width: 125px;
}
.menu .menu-item.menu-icon:after {
  margin: 70px 50px 0;
}
.menu .menu-item.menu-icon .icon {
  width: 41px;
  height: 41px;
  margin: 0 5px 0;
}
.menu .menu-item.menu-icon .icon.icon-online {
  background-image: url("../../asset/img/icon_online_disable.svg");
}
.menu .menu-item.menu-icon .icon.icon-paper {
  background-image: url("../../asset/img/icon_paper_disable.svg");
  background-repeat: no-repeat;
  background-size: 35px 40px;
}
.menu .menu-item.menu-icon.active .icon.icon-online {
  background-image: url("../../asset/img/icon_online.svg");
}
.menu .menu-item.menu-icon.active .icon.icon-paper {
  background-image: url("../../asset/img/icon_paper.svg");
}

.progress-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.progress-circle__bar svg {
  position: relative;
  height: 190px;
  width: 190px;
}
.progress-circle__bar svg circle {
  height: 100px;
  width: 100px;
  fill: none;
  stroke-width: 10;
  stroke: #a7b5c7;
  transform: translate(5px, 5px);
  stroke-dasharray: 565.48;
  stroke-dashoffset: 565.48;
}
.progress-circle__bar svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #a7b5c7;
}
.progress-circle__bar svg circle:nth-child(2) {
  transform-origin: 95px 90px;
  stroke-dashoffset: 424.11px;
  transform: rotate(-90deg);
  stroke: #E2001A;
}
.progress-circle__label {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
}
.progress-circle .label--primary {
  margin: -145px -220px 0 0;
  color: #E2001A;
}
.progress-circle .label--secondary {
  margin: 0 0 -145px -220px;
  color: #889ab3;
}
.progress-circle__text {
  position: absolute;
  margin: -20px 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  line-height: 17px;
  width: 80px;
}
.progress-circle__text__value {
  margin: 10px -20px;
  font-size: 25px;
  font-weight: bold;
}
.progress-circle__text__input {
  background-color: #e5e9ee;
  border: none;
  z-index: 5;
  color: #354253;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0 10px;
  width: 127px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.roll-over {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  background-color: #354253;
  color: #FFFFFF;
  font-size: 13px;
  height: 87px;
  width: 191px;
  padding: 20px;
}
.roll-over__text {
  text-align: center;
}
.roll-over__cross {
  position: absolute;
  cursor: pointer;
  width: 21px;
  margin: -50px 0 0 140px;
  padding: 10px 0;
}
.roll-over__cross .cross-bar {
  height: 2px;
  width: 21px;
  border-radius: 10px;
  background-color: #495b72;
}
.roll-over__cross .cross-bar:nth-child(1) {
  margin: -1px;
  transform: rotate(45deg) translate(1px, 0px);
}
.roll-over__cross .cross-bar:nth-child(2) {
  margin: -1px;
  transform: rotate(-45deg);
}
@media (min-width: 640px) {
  .roll-over {
    height: 57px;
    right: auto;
    margin: 145px 0 0 0;
  }
  .roll-over__cross {
    display: none;
  }
}

/*
      <div class="roll-over">
        <div class="roll-over__cross">
          <div class="cross-bar"></div>
          <div class="cross-bar"></div>
        </div>
        <span class="roll-over__text">
          {text of roll-over}
        </span>
      </div>
*/
.cross-img {
  position: absolute;
  margin-top: -375px;
  height: 650px;
  z-index: 1;
}
.cross-img--right {
  right: calc(-325px);
}
.cross-img--left {
  left: calc(-325px);
}
.cross-img--small-right {
  height: 550px;
  margin: -275px 0px 0 0;
  right: calc(-125px);
}
@media (min-width: 640px) {
  .cross-img {
    height: 1200px;
    z-index: -10;
  }
  .cross-img--right {
    margin-top: -100px;
    right: calc(-600px);
  }
  .cross-img--left {
    left: calc(-600px);
  }
  .cross-img--small-right {
    z-index: 0;
    height: 550px;
    margin: -275px 0px 0 0;
    right: 0;
  }
}

.date-container {
  list-style: none;
  padding: 10px 0;
}
@media (min-width: 640px) {
  .date-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.date-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.date-item__date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #E2001A;
  text-transform: uppercase;
  line-height: 26px;
}
.date-item__date__day {
  font-size: 20px;
}
.date-item__date__month {
  font-size: 40px;
}
.date-item__date__before {
  font-size: 14px;
}
.date-item__zone {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px 0 15px;
  font-size: 22px;
}
.date-item__help {
  cursor: pointer;
}
.date-item:after {
  content: "";
  position: absolute;
  background-color: #e5e9ee;
  width: 80%;
  height: 4px;
  border-radius: 10px;
  margin: 100px 0 0 0;
}
.date-item:last-child:after {
  display: none;
}
@media (min-width: 640px) {
  .date-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 50px;
  }
  .date-item:after {
    width: 4px;
    height: 17%;
    margin: 0 0 0 200px;
  }
}

.box {
  background-color: #f5f6f8;
  margin: 20px 0;
  height: 100%;
  padding: 40px 40px 0;
  line-height: 25px;
}
.box__img {
  margin-bottom: 20px;
}
.box__title {
  font-size: 25px;
  text-transform: uppercase;
}
.box__title__accent {
  font-weight: bold;
}
.box__content {
  font-size: 20px;
}
.box__content p {
  margin: 15px 0;
}
.box__content ul {
  list-style: none;
  padding: 0;
}
.box__content ul li {
  margin: 10px 0;
}
.box__content ul li img {
  margin: 0 10px 0 0;
}
@media (min-width: 640px) {
  .box {
    display: flex;
    flex-direction: row;
  }
  .box__img {
    margin: 0 20px 0 0;
  }
}

.link-icon {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  margin: 10px 0 0;
}
.link-icon a {
  margin: 0 10px 0 0;
  z-index: 100;
}
.link-icon a img {
  border: 2px solid #354253;
  border-radius: 6px;
  padding: 9px 6px;
}

.header {
  background-image: url("../../asset/img/bg-header.png");
  background-position: center;
  height: 100vh;
  min-height: 720px;
  overflow: hidden;
}
.header--with-banner {
  box-shadow: 0 -5px 5px -5px #354253;
  height: calc(100vh - 60px);
}
@media (max-width: 640px) {
  .header--large {
    display: none;
  }
}
.header--mobile {
  margin: 310px 0px 0px 20px;
  display: none;
  padding: 0 20px 0 0;
}
@media (max-width: 640px) {
  .header--mobile {
    display: block;
  }
}

.header-image {
  position: absolute;
}
@media (max-width: 640px) {
  .header-image {
    margin: 0 0 0 -30px;
    width: 450px;
  }
}

.subtitle-main {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 34px;
  margin: 200px 0 0 25px;
}

.under-link {
  margin: 80px 0 0px 50px;
}

.undertitle {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 50px;
  margin: 0 0 10px 0;
}

.title-main {
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 255px 0px 0 70px;
  font-size: 112px;
  font-weight: bold;
}
.title-main__before {
  margin: -103px 0 0 -27px;
  position: absolute;
}
.title-main__before__text {
  font-size: 110px;
  font-weight: 400;
  margin: 11px 0 0 0px;
  position: absolute;
}

.citation {
  width: 100%;
  padding: 50px 0 20px 0;
  box-shadow: 0 0 60px 10px rgba(79, 98, 123, 0.3);
  margin-bottom: 60px;
}
.citation__container {
  display: flex;
  justify-content: center;
}
.citation__portrait {
  z-index: 5;
  margin: 0 20px 0 0;
  width: 158px;
  height: 158px;
}
.citation__preview {
  display: flex;
}
.citation__preview__quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}
.citation__preview__quote-open {
  position: absolute;
  width: 62px;
  margin: -20px 0 0 -60px;
}
.citation__preview__quote-close {
  position: absolute;
  width: 62px;
  margin: -5px 0 0px 460px;
}
.citation__preview__quote__content {
  font-size: 30px;
  padding: 0 10px;
  line-height: 31px;
}
.citation__preview__quote__signature {
  font-size: 14px;
  padding: 0 10px;
  width: 100%;
}
.citation__collapse {
  margin: -40px 0 0 150px;
  display: none;
  font-size: 20px;
  line-height: 25px;
}
.citation__collapse p.accent {
  color: #E2001A;
  font-size: 30px;
  line-height: 35px;
}
.citation__collapse ul {
  list-style: none;
  padding: 0;
}
.citation__collapse ul li {
  margin: 20px 0 0 30px;
}
.citation__collapse ul li:before {
  content: "•";
  position: absolute;
  margin: 0 -15px;
}

@media (max-width: 640px) {
  .citation {
    padding-bottom: 150px;
  }
  .citation__container {
    flex-direction: column;
    align-items: center;
  }
  .citation__portrait {
    margin: 30px 0 20px;
  }
  .citation__preview__quote {
    justify-content: center;
    align-items: center;
    padding: 0 68px;
  }
  .citation__preview__quote-open {
    margin: -25px 15px 0;
  }
  .citation__preview__quote-close {
    margin: 55px 0 0 330px;
  }
  .citation__preview__quote__signature {
    padding: 0px 15px;
  }
  .citation__collapse {
    margin: -40px 50px;
  }
}
.plus-accent {
  color: #E2001A;
  margin: 0 5px;
}

.donation {
  padding: 20px 0 120px;
  margin: 35px 10px;
}
.donation__container {
  display: none;
  height: auto;
}
.donation__container .container__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.donation__container .container__text__value {
  font-size: 99px;
  margin-bottom: -25px;
}
.donation__container .container__text__description {
  line-height: 26px;
  text-align: center;
  font-size: 22px;
}
@media (min-width: 640px) {
  .donation__container .container__text {
    flex-direction: row;
  }
  .donation__container .container__text__description {
    margin: 30px 0 0 15px;
    text-align: left;
  }
}
.donation #ifi {
  display: block;
}
@media (min-width: 640px) {
  .donation {
    padding: 20px 0 60px;
  }
}

.graphics__legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.graphics__legend__text {
  margin: 0 20px 0 22px;
  font-size: 14px;
  line-height: 20px;
}
.graphics__legend__text:before {
  content: "";
  margin: 4px 0 0 -20px;
  position: absolute;
  height: 12px;
  width: 12px;
}
.graphics__legend__text--primary {
  color: #E2001A;
}
.graphics__legend__text--primary:before {
  background: #E2001A;
}
.graphics__legend__text--secondary {
  color: #b6c2d1;
}
.graphics__legend__text--secondary:before {
  background: #b6c2d1;
}
.graphics__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.graphics__block {
  margin: 30px 0 10px;
  width: 100%;
}

.calendar__informations p {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 10px 35px;
}
.calendar__informations .muted {
  font-size: 16px;
  color: #b6c2d1;
  line-height: 20px;
  margin: 10px 70px;
}
.calendar__container {
  margin: 10px 0;
}
.calendar__container#paper {
  display: none;
}

.box-container {
  padding-bottom: 80px;
}

footer {
  margin: 0;
  padding: 0 0 50px;
}
footer .shadow-top {
  height: 60px;
  background: linear-gradient(rgba(79, 98, 123, 0.15), #FFFFFF);
}
footer .footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  text-align: center;
  font-size: 16px;
  margin: 30px 0;
}
footer .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
footer .footer-link li {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 20px;
}
footer .footer-link li a {
  color: #354253;
}
footer .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
footer .footer-social li {
  margin: 0 10px;
}
@media (max-width: 640px) {
  footer .footer-link {
    flex-direction: column;
  }
  footer .footer-link li {
    margin: 5px 0;
  }
  footer .row {
    margin: 100px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
