.banner {
  @include flex-center;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 17px;
  background-color: $color-secondary;
  color: $color-white;
  padding: 5px 20px;
  &__icon {
    min-width: 17px;
  }
  &__title {
    text-transform: uppercase;
    margin: 0 10px;
    font-weight: bold;
  }
  &__content {
    font-size: 14px;
    line-height: 15px;
    margin-left: 15px;
    font-weight: 200;
  }
}

@media (min-width: 640px) {
  .banner {
    &__content {
      font-size: 17px;
      margin-left: 0;
    }
  }
}