.box {
  background-color: lighten($color: $color-primary, $amount: 70%);
  margin: 20px 0;
  height: 100%;
  padding: 40px 40px 0;
  line-height: 25px;
  &__img {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 25px;
    text-transform: uppercase;
    &__accent {
      font-weight: bold;
    }
  }
  &__content {
    font-size: 20px;
    & p {
      margin: 15px 0;
    }
    & ul {
      list-style: none;
      padding: 0;
    }
    & ul li {
      margin: 10px 0;
    }
    & ul li img {
      margin: 0 10px 0 0;
    }
  }
  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    &__img {
      margin: 0 20px 0 0;
    }
  }
}