.button {
  @include flex-center;
  position: relative;
  background-color: lighten($color: $color-primary, $amount: 70%);
  padding: 15px 0;
  transition: all .50s;
  &__text {
    text-transform: uppercase;
    font-size: 15px;
    color: $color-primary;
  }
  &__text:hover {
    color: $color-primary;
    text-decoration: none;
  }
  &:hover {
    transform: scale(1.1);
  }
  &--inline {
    padding: 15px 40px;
  }
  &--small {
    padding: 10px 20px;
  }
  &--primary {
    background-color: $color-secondary;
    &:hover:before {
      transform: scale(0.5);
      border: 2px solid rgba(0, 0, 0, 0);
    }
  }
  &--primary:before {
    content: '';
    position: absolute;
    border: 2px solid $color-white;
    width: 98%;
    height: 90%;
    transition: all .50s;
  }
  &--primary &__text {
    color: $color-white;
    font-weight: bold;
  }
  &--primary img {
    margin-right: 5px;
  }
  &--pill {
    z-index: 100;
    display: inline-block;
    background-color: $color-secondary;
    padding: 0 12px;
    border-radius: 15px;
    & img {
      width: 12px;
      margin-bottom: 2px;
    }
    &:hover {
      transform: none;
    }
  }
}

.link {
  display: inline-block;
  width: 100%;
  color: $color-primary;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  &:hover {
    color: $color-primary;
  }
}