.link-icon {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  margin: 10px 0 0;
  & a {
    margin: 0 10px 0 0;
    z-index: 100;
  }
  & a img {
    border: 2px solid $color-primary;
    border-radius: 6px;
    padding: 9px 6px;
  }
}