.navigation {
  transition: all .50s;
  &.nav-fixed {
    position: fixed;
    top: -5px;
    background: linear-gradient($color-primary, rgba(0, 0, 0, 0));
  }
  z-index: 1051;
  width: 100%;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: 0;
  padding: 25px 15px 0;
  &__logo {
    width: 210px;
    height: 55px;
    background-image: url('../../asset/img/logo_light.svg');
    background-repeat: no-repeat;
  }
  &__container {
    .mobile-title {
      display: none;
    }
    &__menu {
      display: flex;
      margin: 0 10px 0 0;
      .item-with-icon {
        position: absolute;
        margin: -15px 25px 0;
      }
    }
    & ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    & ul li {
      font-size: 14px;
      text-transform: uppercase;
      margin: 0;
      padding: 0 10px;
      &:after {
        content: '';
        position: absolute;
        margin: 5px 10px;
        background: $color-secondary;
        height: 10px;
        width: 1px;
      }
    }
    & ul li  a {
      color: rgba(255, 255, 255, .8);
    }
    & ul li:last-child {
      border: none;
      &:after {
        display: none;
      }
    }
    & ul li a:not([href]):hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__toggler {
    cursor: pointer;
    display: none;
    border: none;
    background: none;
    padding: 0;
    margin: 1px 10px 0;
    width: 35px;
    height: 24px;
    justify-content: space-between;
    flex-direction: column;
    &__bar {
      border-radius: 10px;
      background-color: $color-white;
      height: 4px;
      width: 100%;
      transition: all .30s;
    }
  }
}
#nav-call-action {
  position: absolute;
  right: 15px;
}

@media (max-width: 640px) {
  .navigation {
    justify-content: start;
    &__logo {
      width: 50px;
      height: 60px;
    }
    &__container {
      .mobile-title {
        display: block;
      }
      display: none;
      &__menu {
        flex-direction: column;
        .item-with-icon {
          display: none;
        }
      }
    }
    &__toggler {
      display: flex;
    }
    &--collapsed {
      background-color: $color-primary !important;
      width: 100%;
      height: calc(100vh + 5px);
    }
    &--collapsed &__container {
      position: absolute;
      margin: 75px 30px 0;
      & ul {
        flex-direction: column;
        margin: 0 20px 0;
      }
      & ul li {
        font-size: 31px;
        margin: 10px 0 0;
        padding: 0 0 10px 0;
        border-bottom: 1px solid $color-secondary;
        &:after {
          display: none;
        }
      }
      & ul li:last-child {
        border: none;
      }
    }
    &--collapsed &__toggler {
      justify-content: center;
      &__bar {
        border-radius: 10px;
        background-color: darken($color: $color-white, $amount: 40%)
      }
      &__bar.toggler {
        &--top {
          transform: rotate(45deg) translate(1px, 2px);

        }
        &--middle {
          display: none;
        }
        &--bottom {
          transform: rotate(-45deg) translate(0px, -2px);
        }
      }
    }
  }
}
.nav-i {
  cursor: pointer;
}