.progress-circle {
  @include flex-center-column;
  &__bar {
    position: relative;
  }
  &__bar svg {
    height: 190px;
    width: 190px;
    & circle {
      height: 100px;
      width: 100px;
      fill: none;
      stroke-width: 10;
      stroke: lighten($color: $color-primary, $amount: 45%);
      transform: translate(5px, 5px);
      stroke-dasharray: 565.48;
      stroke-dashoffset: 565.48;
    }
    & circle:nth-child(1) {
      stroke-dashoffset: 0;
      stroke: lighten($color: $color-primary, $amount: 45%);
    }
    & circle:nth-child(2) {
      transform-origin: 95px 90px;
      stroke-dashoffset: 424.11px;
      transform: rotate(-90deg);
      stroke: $color-secondary;
    }
  }
  &__label {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
  }
  .label {
    &--primary {
      color: $color-secondary;
      top: 0;
      right: -50px;
    }
    &--secondary {
      color: lighten($color: $color-primary, $amount: 35%);
      bottom: 0;
      left: -50px;
    }
  }
  &__text {
    position: absolute;
    margin: -20px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    line-height: 17px;
    width: 80px;
    &__value {
      margin: 10px -20px;
      font-size: 25px;
      font-weight: bold;
    }
    &__input {
      background-color: lighten($color: $color-primary, $amount: 65%);
      border: none;
      z-index: 5;
      color: $color-primary;
      border-radius: 5px;
      margin-top: 5px;
      padding: 0 10px;
      width: 127px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
  }
}