.roll-over {
  position: absolute;
  @include flex-center;
  right: 20px;
  background-color: $color-primary;
  color: $color-white;
  font-size: 13px;
  height: 87px;
  width: 191px;
  padding: 20px;
  &__text {
    text-align: center;
  }
  &__cross {
    position: absolute;
    cursor: pointer;
    width: 21px;
    top: 10px;
    right: 10px;
    padding: 10px 0;
    .cross-bar {
      height: 2px;
      width: 21px;
      border-radius: 10px;
      background-color: lighten($color: $color-primary, $amount: 10%);
    }
    .cross-bar:nth-child(1) {
      margin: -1px;
      transform: rotate(45deg) translate(1px, 0px);
    }
    .cross-bar:nth-child(2) {
      margin: -1px;
      transform: rotate(-45deg);
    }
  }
  @media (min-width: 640px) {
    height: 57px;
    right: auto;
    bottom: -10px;
    &__cross {
      display: none;
    }
  }
}

/*
      <div class="roll-over">
        <div class="roll-over__cross">
          <div class="cross-bar"></div>
          <div class="cross-bar"></div>
        </div>
        <span class="roll-over__text">
          {text of roll-over}
        </span>
      </div>
*/