.calendar {
  &__informations {
    p {
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      margin: 10px 35px;
    }
    .muted {
      font-size: 16px;
      color: lighten($color: $color-primary, $amount: 50%);
      line-height: 20px;
      margin: 10px 70px;
    }
  }
  &__container {
    margin: 10px 0;
    &#paper {
      display: none;
    }
  }
}