.graphics {
  &__legend {
    @include flex-center;
    margin:  10px 0;
    &__text {
      margin: 0 20px 0 22px;
      font-size: 14px;
      line-height: 20px;
      &:before {
        content: '';
        margin: 4px 0 0 -20px;
        position: absolute;
        height: 12px;
        width: 12px;
      }
      &--primary {
        color: $color-secondary;
        &:before {
          background: $color-secondary;
        }
      }
      &--secondary {
        color: lighten($color: $color-primary, $amount: 50%);
        &:before {
          background: lighten($color: $color-primary, $amount: 50%);
        }
      }
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__block {
    margin: 30px 0 10px;
    width: 100%;
  }
}